* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 'Work Sans';
}
/* All Section Container */
.container-all{
    width: 1600px;
    height: auto;
}
/* Section 1 */
#blend{
    position: relative;
}
.s1-img{
    position: absolute;
    height: 808px;
    width: 1600px;
}
.center-right {
    height: 326px;
    width: 525px;
    position: absolute;
    text-align: right;
    padding: 200px 200px 0 875px;
}
.b1h1{
    font-size: 55px;
    padding-bottom: 24px;
    color: #151414;
}
.banner-paragraph{
    font-size: 16px;
    text-align: right;
    padding-bottom: 32px;
    color: #444343;
}
.btn-contact{
    width: 160px;
    height: 64px;
    background: #F15B22;
    font-size: 20px;
    color: white;
    border: 0;
    border-radius: 5px;
}
/* Section 2 */
.section-2{
    display: flex;
    justify-content: space-between;
    padding: 908px 200px 0 200px;
}
.center{
    padding: 270px 122px 0 87px;
}
.center-h2{
    font-size: 40px;
    color: #151414;
    padding-bottom: 24px;
}
.center-p{
    font-size: 16px;
    color: #444343;
    padding-bottom: 16px;
}
.center-p5{
    font-size: 16px;
    padding-bottom: 8px;
    color: #444343;
}
/* Section 3 */
.section-3{
    padding: 100px 200px;
}
.s3h1{
    text-align: center;
    font-size: 60px;
    color: #151414;
}
.container-plans{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 86px;
    padding-top: 55px;
}
.plan-name{
    font-size: 30px;
    color: #151414;
    padding: 24px 0 16px 0;
}
.plan-do{
    font-size: 25px;
    color: #737272;
}
/* Section 4 */
.section-4{
    height: 300px;
    width: 1200px;
    padding: 0 200px 100px 200px;
}
#blend-img{
    position: relative;
}
.img-1{
    position: absolute;
}
.img-2{
    position: absolute;
}
.call-me{
    position: absolute;
    padding: 60px 600px 60px 65px;
}
.s4h1{
    font-size: 40px;
    color: #FFFFFF;
    padding-bottom: 24px;
}
.btn-call{
    width: 160px;
    height: 64px;
    font-size: 20px;
    background: #ffffff;
    border: 0;
    border-radius: 5px;
    color: #F15B22;
}
/* Section 5 */
.section-5{
    background-color: #151414;
    height: 600px;
    width: 1600px;
}
.bottom-section{
    display: flex;
    justify-content: space-between;
}
.info{
    height: 317px;
    width: 485px;
    padding: 130px 200px;
}
.info-head{
    font-size: 45px;
    color: #F8F8F8;
    padding-bottom: 20px;
}
.info-para{
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.social-btn{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.fb{
    border-color: #F15B22;
    border-radius: 50%;
}
.twitter{
    border-color: #F15B22;
    border-radius: 50%;
}
.youtube{
    border-color: #F15B22;
    border-radius: 50%;
}
.subscribe{
    height: 204px;
    width: 325px;
    padding: 130px 200px 243px 180px;
}
.sub-head{
    font-size: 25px;
    color: #FFFFFF;
}
.sub-btn{
    width: 150px;
    height: 50px;
    font-size: 20px;
    background: #ffffff;
    border: 0;
    border-radius: 5px;
    color: #F15B22;
}